/* mahasiswa.page.scss */

ion-content {
    --ion-background-color: #f8f8f8;
    /* Background color */
}

ion-card {
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --ion-background-color: #ee0303;
    --ion-item-color: #ffffff;
}

ion-item {
    --ion-background-color: #ffffff;
    --ion-item-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

ion-button {
    margin-top: 10px;
    --ion-background-color: #3498db;
    --ion-text-color: #ffffff;
}

ion-modal {
    ion-header {
        --ion-background-color: #3498db;
        color: #ffffff;
    }

    ion-content {
        --ion-background-color: #ffffff;
    }

    ion-button {
        --ion-background-color: #3498db;
        --ion-text-color: #ffffff;
    }
}