<!-- app.component.html -->

<ion-app>
  <!-- Add some styling to the split-pane -->
  <ion-split-pane contentId="main-content" when="lg">
    <!-- Define the menu with a customized background color -->
    <ion-menu contentId="main-content" type="overlay" side="start" menuId="menu1" class="custom-menu">
      <ion-content>
        <!-- Add a custom header with a background color -->
        <ion-header class="custom-header">
          <ion-toolbar>
            <ion-title>My App</ion-title>
          </ion-toolbar>
        </ion-header>

        <!-- Inbox section -->
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi&#64;ionicframework.com</ion-note>

          <!-- Add some styling to the menu items -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected" class="menu-item">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Labels section -->
        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <!-- Add some styling to label items -->
          <ion-item *ngFor="let label of labels" lines="none" class="label-item">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Main content area -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>